 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

section{
  position: relative;
  height: 1200px;
  padding: 20px;
  width: 1000px;
  border-radius: 20px;
  margin-left: auto;  margin-right: auto; 
  background-color: white;
}

#formas{
  -webkit-mask-image: linear-gradient(315deg, transparent 49%, black 100%);
  mask-image: linear-gradient(315deg, transparent);
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 20px;
}

#formas2{
  position: absolute;
  -webkit-mask-image: linear-gradient(215deg, transparent 49%, black 100%);
  mask-image: linear-gradient(215deg, transparent);
  margin-left: -20px;
  margin-top: 1010px;
  border-radius: 20px;
}


#foto{
  position: absolute;
  z-index: 200;
  margin-top: -200px;
  border-radius: 600px;
  margin-left: 619px;
  width: 270px;
  height: 270px;
  background-image: url(me.jpg);
  background-position: center center;
  background-size: 100%;
} 


#barra_lateral{
  position: absolute;
  z-index: 1;
  margin-top: -20px;
  margin-left: 750px;
  background-color: rgb(22, 70, 192);
  width: 270px;
  height: 1240px;
  border-radius: 20px;
}

body{
  background-color: rgb(53, 53, 53);
}

#formas{
  position: absolute;
}

.textos{
  font-family: Roboto;
  -webkit-text-fill-color:  rgb(22, 70, 192);
}

.textosContent{
  font-family: Roboto;
  -webkit-text-fill-color: white;
  
}

 ul{
  list-style-position: outside;
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 10 10"><circle fill="white" cx="7" cy="7" r="2"/></svg>');
 }

#Nome{
  font-family: Roboto;
  font-size: 25px;
  border-radius: 5px;;
  z-index: 102;
  position: absolute;
  margin-left: 70px;
  margin-top: 35px;;
  -webkit-text-fill-color: rgb(22, 70, 192);
}

#Dados_gerais{
  margin-left: 70px;
  margin-top: 180px;
}

#apresentação{
   
  z-index: 101;
  position: absolute;
  margin-top: 10px;;
  margin-left: 60px;
  height: 200px;
  width: 500px;
  border-radius: 20px;
  background-color: rgb(22, 70, 192);
  
}

#textoSoft{
  margin-top: 270px;
  margin-left: 70px;
}


#Soft_skills{
  z-index: 101;
  margin-left: 60px;
  margin-top: 30px;
  position: absolute;
  height: 110px;
  border-radius: 20px;
  background-color: rgb(22, 70, 192);
  width: 210px;
  font-size: 20px;

}
 

 #textoHard{
  margin-top: -50px;
  margin-left: 350px;
 }

 
#Hard_skills{
   
  z-index: 101;
  margin-left: 340px;
  margin-top: 10px;
  position: absolute;
  width: 350px;
  height: 150px;
  border-radius: 20px;
  background-color: rgb(22, 70, 192);
  font-size: 20px;
}


#textoHobbie{
    margin-top: 220px;
    margin-left: 70px;
}

#Hobbies{
  z-index: 101;
  margin-left: 60px;
  position: absolute;
  margin-top: 0px;
  width: 270px;
  height: 130px;
  border-radius: 20px;
  background-color: rgb(22, 70, 192);
  font-size: 20px;
}


#textoMúsica{
  margin-top: 190px;
  margin-left: 250px;
}

#audios{
  position: absolute;
  margin-top: 70px;
  margin-left: 20px;
}

#img_megadeath{
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 30px;
}

#textoNmMúsica{
  position: absolute;
  z-index: 102;
  font-family: Roboto;
  -webkit-text-fill-color: white;
  margin-top: 120px;
  margin-left: 295px;
}

#Música_preferida{
  position: absolute;
  margin-left: 80px;
  z-index: 101;
  width: 550px;
  height: 200px;
  border-radius: 20px;
  background-color: rgb(22, 70, 192);
}